.back {
  background-color: #279ddd;
}

canvas[resize] {
  width: 100%;
  height: 100%;
}

canvas {
  border: 1px solid black;
}

@keyframes slideInForConnect {
  0% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateX(0);
  }
}

.connectionAtStart{
  animation: 2s ease-out 0s 1 slideInForConnect;

}

.shout_box {
  background: #151515;
  width: 260px;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  right: 5%;
  z-index: 9;
}

.shout_box .header .close_btn {
  background: url(img/close_btn.png) no-repeat 0px 0px;
  float: right;
  width: 15px;
  height: 15px;
}

.shout_box .header .close_btn:hover {
  background: url(img/close_btn.png) no-repeat 0px -16px;
}

.shout_box .header .open_btn {
  background: url(img/close_btn.png) no-repeat 0px -32px;
  float: right;
  width: 15px;
  height: 15px;
}

.shout_box .header .open_btn:hover {
  background: url(img/close_btn.png) no-repeat 0px -48px;
}

.shout_box .header {
  padding: 10px 6px 6px 10px;
  font: 11px 'lucida grande', tahoma, verdana, arial, sans-serif;
  font-weight: bold;
  color: #fff;
  border: 1px solid rgba(0, 39, 121, .76);
  border-bottom: none;
  cursor: pointer;
}

.shout_box .header:hover {
  background-color: #2a2a2a;
}

.shout_box .message_box {
  background: #FFFFFF;
  height: 200px;
  overflow: auto;
  border: 1px solid #CCC;
}

.shout_msg {
  margin-bottom: 2px;
  display: block;
  border-bottom: 1px solid #F3F3F3;
  padding: 0px 5px 5px 5px;
  font: 11px 'lucida grande', tahoma, verdana, arial, sans-serif;
  color: #7C7C7C;
}

.me_shout_msg {
  color: #5CB85C;
}

.alert_shout_msg {
  color: #DB524B;
}

.message_box:last-child {
  border-bottom: none;
}

time {
  font: 11px 'lucida grande', tahoma, verdana, arial, sans-serif;
  font-weight: normal;
  float: right;
  color: #D5D5D5;
}

.shout_msg .username {
  margin-bottom: 3px;
  margin-top: 3px;
}

.shout_msg .my_username {
  color: #5CB85C;
}

.shout_msg .alert_msg {
  color: #DB524B;
}

.user_info input {
  width: 100%;
  height: 25px;
  border: 1px solid #CCC;
  border-top: none;
  padding: 3px 0px 0px 3px;
  font: 11px 'lucida grande', tahoma, verdana, arial, sans-serif;
}

.shout_msg .username {
  font-weight: bold;
  display: block;
}

#my-video-div {
  vertical-align: bottom;
}

#my-video {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  /* Safari and Chrome */
  -moz-transform: rotateY(180deg);
  /* Firefox */
}

#my-video {
  position: fixed;
  top: 240px;
  right: 30px;
  width: 180;
  height: 120;
  z-index: 10;
}

.circle {
  background-color: rgb(0, 0, 0, 0);
  border: 1px solid red;
  height: 100px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 100px;
}

@keyframes slideInFromDown {
  0% {
    transform: translateY(4%);
  }
  100% {
    transform: translateX(0);
  }
}

.cardItem {
  padding: 10px 24px;
  width: 33%;
  float: left;
  animation: 1s ease-out 0s 1 slideInFromDown;


}

.cardHover {
  background: #fff;
  font-size: 36px;
  padding: 4px 0px;
  color: black;
  border-radius: 5px 5px 5px 5px;
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.cardHover:hover {
  cursor: pointer;
  color: black;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25), 0 3px 5px rgba(0, 0, 0, 0.22);
}

.backButton {
  color: #a3a3a3;
}

.backButton:hover {
  color: #3f3f3f;
  cursor: pointer;
}

.highlightHeader {
  color: #a3a3a3;
}

.highlightHeader:hover {
  color: #3f3f3f;
}


/////////////



form{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -250px;
  width: 100%;
  height: 100%;
  border: 4px dashed #000;
}
form div p{

  font-size: 24px;
  text-align: center;
  line-height: 10px;
  color: #a3a3a3;
  font-family: Arial;
}
form span{
  font-size: 24px;
  text-align: center;
  line-height: 70px;
  color: #a3a3a3;
  font-family: Arial;
}
form input{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
}

.info:hover{

  font-size: 18px;
  cursor: pointer;
}

.browseGuest:hover{
  cursor: pointer;
  text-decoration: underline;

}
