.back {
	background-color: #279ddd;
}

canvas[resize] {
	width: 100%;
	height: 100%;
}

canvas {
	border: 1px solid black;
}

.shout_box {
	background: #1B9CE0;
	width: 260px;
	overflow: hidden;
	position: fixed;
	bottom: 0;
	right: 10%;
	z-index: 9;
}

.shout_box .header .close_btn {
	background: url(img/close_btn.png) no-repeat 0px 0px;
	float: right;
	width: 15px;
	height: 15px;
}

.shout_box .header .close_btn:hover {
	background: url(img/close_btn.png) no-repeat 0px -16px;
}

.shout_box .header .open_btn {
	background: url(img/close_btn.png) no-repeat 0px -32px;
	float: right;
	width: 15px;
	height: 15px;
}

.shout_box .header .open_btn:hover {
	background: url(img/close_btn.png) no-repeat 0px -48px;
}

.shout_box .header {
	padding: 10px 6px 6px 10px;
	font: 11px 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-weight: bold;
	color: #fff;
	border: 1px solid rgba(0, 39, 121, .76);
	border-bottom: none;
	cursor: pointer;
}

.shout_box .header:hover {
	background-color: #168ccc;
}

.shout_box .message_box {
	background: #FFFFFF;
	height: 200px;
	overflow: auto;
	border: 1px solid #CCC;
}

.shout_msg {
	margin-bottom: 2px;
	display: block;
	border-bottom: 1px solid #F3F3F3;
	padding: 0px 5px 5px 5px;
	font: 11px 'lucida grande', tahoma, verdana, arial, sans-serif;
	color: #7C7C7C;
}

.me_shout_msg {
	color: #5CB85C;
}

.alert_shout_msg {
	color: #DB524B;
}

.message_box:last-child {
	border-bottom: none;
}

time {
	font: 11px 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-weight: normal;
	float: right;
	color: #D5D5D5;
}

.shout_msg .username {
	margin-bottom: 3px;
	margin-top: 3px;
}

.shout_msg .my_username {
	color: #5CB85C;
}

.shout_msg .alert_msg {
	color: #DB524B;
}

.user_info input {
	width: 100%;
	height: 25px;
	border: 1px solid #CCC;
	border-top: none;
	padding: 3px 0px 0px 3px;
	font: 11px 'lucida grande', tahoma, verdana, arial, sans-serif;
}

.shout_msg .username {
	font-weight: bold;
	display: block;
}